body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
	font-weight: bold;
	font-size: 16px;
}

p {
	padding: 2px 20px;
	margin: 0;
}

#console{
	border: 1px solid #999;
	border-radius: 20px;
	margin-top: 20px;
	min-height: 40px;
	padding: 25px 0;
}
#panel p:nth-child(2n-1){
	background-color: #ccc;
}

#recent{
	margin: -20px 0 0 10px;
	font-size: 12px;
	float: left;
	color: #999;
}
#tip{
	color: #999;
	font-style: 12px;
}